body {
    text-align: left;
    background-color: #3D4D5A;
    width: 1200px;
    height: 675px;
}

#background0, #background1 {
    width: 1200px;
    height: 675px;
}

@font-face {
    font-family: 'Futura';
    src: url(Futura.otf);
}

#novelDiv {
    width: 1200px;
    height: 675px;
    border: 1px solid black;
    text-align: center;
}

#dialogDiv {
    font-family: "Futura";
    font-size: 22px;
    position: absolute;
    width: 1140px;
    height: 140px;
    top: 475px;
    padding: 30px;
    background-color: #30353a;
    color: white;
    text-align: left;
    filter: alpha(opacity=80);
    opacity: 0.8;
}

.menuItem {
    font-family: "Futura";
    font-size: 18px;
    background-color: #1e2226;
    color: white;
    text-align: center;
    width: 75%;
    margin: 0.5em auto;
    padding: 0.5em 3em;
    -moz-border-radius: 15px;
    border-radius: 7px;
    bottom:0;
}

.menuItem:hover {
    background-color: #4e5359;
    filter: alpha(opacity=85);
    opacity: 0.85;
}
