body {
    text-align: center;
    background-color: #fff;
}

@font-face {
    font-family: 'Futura';
    src: url(Futura.otf);
}

#novelDiv {
    width: 1600px;
    height: 900px;
    border: 1px solid black;
    margin: auto;
    position: absolute;
    text-align: center;
    left: 0;
}

#dialogDiv {
    font-family: "Futura";
    font-size: 32px;
    position: absolute;
    width: 1600px;
    height: 20%;
    top: 80%;
    padding: 30px;
    background-color: #30353a;
    color: white;
    text-align: left;
    filter: alpha(opacity=80);
    opacity: 0.8;
}

.menuItem {
    font-family: "Futura";
    font-size: 28px;
    background-color: #1e2226;
    color: white;
    text-align: center;
    width: 80%;
    margin: 0.5em auto;
    padding: 0.5em 3em;
    -moz-border-radius: 15px;
    border-radius: 7px;
    bottom:0;
}

.menuItem:hover {
    background-color: #4e5359;
    filter: alpha(opacity=85);
    opacity: 0.85;
}
